.product {
  margin: 10px;
  width: 250px;
  /* border: 1px blue solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.author {
  color: var(--font-color-secondary);
  /* border: 1px red solid; */
  margin-bottom: 0.5px;
  font-size: small;
  font-weight: 400;
}

.bookName {
  text-align: center;
  width: 95%;
  height: 50px;
  font-weight: 400;
  /* border: 1px blue solid; */

  margin-bottom: 20px;
}

.productImage {
  width: 75%;
  height: 275px;
}

.priceDiv {
  /* border: 1px red solid; */
  width: 55%;
  /* height: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.realPrice {
  color: var(--primary-color);
  margin: 2px;
  font-weight: 500;
  font-size: larger;
}

.fakePrice {
  margin: 2px;
  color: var(--font-color-secondary);
  font-weight: 300;
  text-decoration: line-through;
  margin-top: 6px;
}
.discountPercent {
  background-color: rgb(198, 24, 24);
  color: var(--background-color);
  font-weight: 800;
  border-radius: 4px;

  font-size: large;
  padding: 2px 6px;
  margin-top: 2px;
}
