.loginModal {
  max-width: 700px;
  width: 100%px;

  height: 500px;

  display: flex;
  flex-direction: row;
}

.loginModal .leftDiv {
  width: 60%;
  display: flex;
}

.loginModal .leftDiv img {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.loginModal .rightDiv {
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
}

.loginModal .LoginModalHeading {
  width: 100%;
  margin-bottom: 30px;
  font-size: large;
  font-weight: 800;
  text-align: left;
  color: var(--primary-color);
}

.loginModal .loginDiv {
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  /* border: 1px dotted blue; */
}

.loginButton {
  background-color: var(--primary-color);
  border: none;
  color: var(--background-color);
  padding: 8px;
  width: 100%;
  border-radius: 9px;
  margin-top: 10px;
  font-size: large;
  font-weight: 400;
}

.loginDiv p {
  margin: 6px;
  font-size: small;
  font-weight: 400;
}

.googleButton {
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 9px;
  font-size: medium;
  /* background-color: black;
   */
  padding-top: 2px;
}

.googleIcon {
  width: 14px;
  margin-bottom: none;
  height: 100%;
  padding: none;
  margin-top: 6px;
  margin-right: 8px;
  /* border: 1px darkblue solid; */
  align-items: baseline;
}

.loginModal .rightDiv .signUpDiv {
  font-size: medium;
  font-weight: 600;
  margin-bottom: 8px;
  /* border: 1px blue solid; */
  /* margin-top: 4px; */
}

@media only screen and (max-width: 680px) {
  .loginModal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    height: fit-content;
    padding-bottom: 12px;
    /* border: 2px blue solid; */

    margin-top: 10px;
  }

  .loginModal .leftDiv {
    display: none;
  }

  .loginModal .rightDiv .signUpDiv {
    font-size: medium;
    font-weight: 600;
    margin-bottom: 8px;
    /* border: 1px blue solid; */
    margin-top: 20px;
  }
}
