.NavLinkContainer {
  display: flex;
}

.navLinks {
  color: var(--font-color-primary);
  /* margin-bottom: 2em; */
  /* width: 100%; */
  margin-left: none;
}

.navLinks li {
  list-style: none;
  border-bottom: 1px var(--primary-color) solid;
  padding-bottom: 10px;
  margin: 1em;
  display: flex;
  /* width: 100%; */
}

.heading-link {
  /* display: flex; */
}

.headerLink {
  padding: 0;
  width: 300px;
  /* border: 2px blue solid; */
  margin-bottom: 10px;
  height: 45px;
}

.headerLink a {
  color: var(--font-color-primary);
  font-weight: 500;
  /* border: 1px red solid; */
  margin-bottom: 1px;
  width: 90%;
}

.headerLink a:hover {
  color: var(--primary-color);
}

.headerLink li {
  list-style: none;
}

.headerLink button {
  padding: none;
  width: 50px;
  background-color: var(--background-color);
  font-weight: bold;
  border: none;
  border-radius: 9px;
}

.headerLink button:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.headerLink button:active {
  background-color: var(--primary-color);
}

.childLinkDiv {
  /* width: 600px; */
  background-color: var(--background-color);

  display: flex;
  border: 1px var(--font-color-secondary) solid;
  flex-direction: column;
  margin-left: 230px;
  z-index: 5;
  position: absolute;
  width: 400px;
  margin-top: 20px;
}

.child-list {
  display: flex;
  margin-left: 8px;
  flex-direction: row;
  background-color: var(--background-color);
}

.child-list a {
  font-weight: normal;
  line-height: 2;
  color: var(--font-color-primary);
  font-weight: 500;
}

.child-list a:hover {
  color: var(--primary-color);
}

.headerLink #down-icon {
  font-weight: bolder;
  font-size: larger;
  margin-top: 5px;
}

.expandButton {
  background-color: none;
  color: nones;
}

@media only screen and (max-width: 1232px) {
  .childLinkDiv {
    position: relative;
    z-index: 1;
  }
  .headerLink {
    height: 100%;
  }

  .headerLink a {
    color: var(--primary-color);
  }

  .headerLink button {
    color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  .child-list a {
    color: var(--font-color-primary);
  }
}
