.itemTotalPrice {
  text-align: center;
  /* border: 1px dotted purple; */
  margin-bottom: auto;
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
}

.totalPriceDiv {
  text-align: end;
  margin-right: 20px;
  margin-bottom: 25px;
}

.totalPriceDiv .totalPrice {
  margin-top: 10px;
  margin-bottom: 15px;
}

.totalPriceDiv .checkoutBtn {
  display: block;
  width: 30%;
  background-color: var(--primary-color);

  margin: 5px auto;
  color: var(--background-color);
  font-size: 18px;
  font-weight: 500;
  padding: 6px;
  border-radius: 9px;
  cursor: pointer;
}
