.pageNotFoundContainer {
  width: 75%;
  /* border: 2px solid blue; */
  margin: 45px auto;
  margin-bottom: 55px;
}

.pageNotFoundContainer .notFoundImg {
  width: 100%;
}

.pageNotFoundContainer .notFoundTxt {
  text-align: center;
  font-size: 20px;
}

.pageNotFoundContainer .homeBtn {
  display: block;
  width: 150px;
  height: 35px;
  text-align: center;
  border-radius: 9px;
  cursor: pointer;
  background-color: var(--primary-color);

  color: var(--background-color);
  font-size: 18px;
  margin: 45px auto;
}

@media only screen and (min-width: 1140px) {
  .pageNotFoundContainer {
    width: 30%;
  }
}
