.mainHeader {
  /* border: 1px red solid; */
  width: 100vw;
}

a {
  text-decoration: none;
}

.header {
  /* border: green 2px solid; */
  width: 100vw;
  display: flex;

  padding: 8px;

  margin-top: 0px;
  margin-bottom: 0.6em;

  justify-content: space-between;
}

.leftHeader {
  display: flex;
  flex-direction: row;
  /* border: 1px red solid; */
  margin-left: 2px;
  width: 50vw;
}

.rightHeader {
  display: flex;
  flex-direction: row;
  /* border: blue 1px solid; */
  margin: 5px;
  margin-right: 20px;

  width: 140px;
  justify-content: space-between;
}

.signin-div {
  font-family: var(--primary-font);
  /* border: 1px orangered solid; */
  color: var(--font-color-secondary);
  font-weight: 400;
  padding: 10px;

  font-size: 13px;
  text-decoration: none;
  /* border: 0.2px red solid; */
}

.signin-div a {
  text-decoration: none;
  color: var(--font-color-primary);
}

.signin-div a:hover {
  color: var(--primary-color);
}

.signin-div span {
  font-weight: bold;
}

.logo-div {
  display: flex;
  /* border: purple 1px solid; */

  width: 170px;
  height: fit-content;
  cursor: pointer;

  padding: 2px;
  margin: 1px;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-div img {
  margin-top: 0.6em;
  margin-right: 1px;
  width: 100%;
}

.cart-container {
  /* border: blue 2px solid; */
  height: 30px;
  margin-top: 10px;
  margin-right: 0.6em;
}

.cartItems-total {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-size: 10px;
  /* font-weight: bold; */
  background: var(--secondary-color);
  color: #fff;
  padding: 0 3px;
  vertical-align: top;
  margin-left: -10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.cart {
  margin-top: 1px;
  /* border: 0.1px purple solid; */
  color: var(--primary-color);
  font-size: 30px;
  margin-top: 0.1em;
}

.rightHeader .profileDiv {
  /* border: 2px red solid; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: bottom;
  margin-top: auto;
}

@media only screen and (min-width: 912px) and (max-width: 1232px) {
  .logo-div {
    width: 55%;
  }

  .signin-div {
    font-size: large;
  }

  .rightHeader {
    width: 200px;
  }

  .cartItems-total {
    padding-left: 5px;
    padding-right: 3px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size: 15px;
    /* font-weight: bold; */
    background: var(--secondary-color);
    color: #fff;
    padding: 0 6px;
    vertical-align: top;
    margin-left: -10px;
  }

  .cart {
    /* border: 0.1px purple solid; */
    color: var(--primary-color);
    font-size: 45px;
  }
}

@media only screen and (min-width: 1232px) {
  .leftHeader {
    margin-top: 0.5em;
  }

  .logo-div {
    width: 250px;
  }
  .signin-div {
    font-size: medium;
  }

  .cart {
    font-size: 40px;
  }

  .cartItems-total {
    padding-left: 5px;
    padding-right: 3px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size: 14px;
    /* font-weight: bold; */
    background: var(--secondary-color);
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
  }

  .leftHeader {
    width: 20%;
    margin-right: 5px;
  }

  .middleHeader {
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    justify-content: space-between;
  }

  .rightHeader {
    margin-top: 0.6em;

    width: 15%;
  }

  .header {
    /* border: 2px purple solid; */
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
  }
}
