.mainHeader {
  /* border: 1px red solid; */
}

.header {
  /* border: green 2px solid; */

  display: flex;

  padding: 8px;

  margin-top: 0px;
  margin-bottom: 0.6em;

  justify-content: space-between;
}

.leftHeader {
  display: flex;
  flex-direction: row;
  /* border: 1px red solid; */
  margin-left: 2px;
}

.rightHeader {
  display: flex;
  flex-direction: row;
}

.signin-div {
  width: 90px;
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--font-color-secondary);
  font-weight: 400;
  padding: 10px;

  font-size: medium;
  text-decoration: none;
  /* border: 0.2px red solid; */
}

.signin-div a {
  text-decoration: none;
  color: var(--font-color-primary);
}

.signin-div a:hover {
  color: var(--primary-color);
}

.signin-div span {
  font-weight: bold;
}

.logo-div {
  /* border: purple 1px solid; */
  width: 250px;
  padding: 2px;
  margin: 1px;
  margin-left: 5px;
}
.logo-div img {
  margin-top: 0.6em;
  margin-right: 1px;
  width: 100%;
}

.cart-container {
  /* border: blue 2px solid; */
  height: 40px;
  margin-top: 10px;
  margin-right: 0.6em;
}

.cartItems-total {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-size: 14px;
  font-weight: bold;
  background: var(--secondary-color);
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.cart {
  margin-top: 1px;
  /* border: 0.1px purple solid; */
  color: var(--primary-color);
  font-size: 40px;
  margin-top: 0.1em;
}

.customerSupport {
  display: flex;
  /* border: 2px red solid; */
  padding: 0px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  display: flex;
}

.support-text {
  /* border: 1px blue solid; */
  height: 90%;
  width: 90%;
  margin-left: 3px;
  padding-top: 4px;
  margin-top: 4px;
  height: 50px;
  line-height: 0.5;
}

.support-text span {
  font-weight: 400;
  color: var(--font-color-secondary);
  font-family: var(--primary-font);

  line-height: 0;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  /* border: 1px purple solid; */
}

.support-number {
  font-weight: bold;
  margin: none;
  font-size: large;
  line-height: 0;
}

.support-icon {
  color: var(--primary-color);
  font-size: 2.7em;
  margin: 3px;
  margin-top: none;
  /* border: 0.5px solid blue; */
  padding-top: 0;
}
