:root {
  --primary-color: rgb(98, 171, 0);
  --secondary-color: rgb(189, 0, 24);
  --background-color: white;
  --primary-font: "Open Sans", "Helvetica Neue", sans-serif;
  --font-color-primary: #444;
  --font-color-secondary: rgb(165, 165, 165);
  --primary-hover-color: rgb(33, 34, 37);
  --border-color-light: #eeeeee;

  overflow-x: hidden;

  /* max-width: 1560px;
  margin-left: auto;
  margin-right: auto; */
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.max-width {
  max-width: 1300px;
  margin: 0 auto;
}
