.banner-container {
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25px auto;
}

@media only screen and (min-width: 612px) {
  .banner-container {
    flex-direction: row;
    width: 91%;
    /* border: 2px blue solid; */
    margin: 30px auto;
    margin-top: 30px;
    justify-content: space-around;

    height: 300px;
  }
}
