.container-slider {
  height: 250px;
  margin: 100px 10px 0;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 10px;
  height: 10px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--font-color-secondary);
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: var(--primary-color);
}

.overlay-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: fit-content;
  width: 75%;
  height: 70%;
  z-index: 5;
  position: relative;
  /* border: 1px red solid; */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay-div p {
  font-family: var(--primary-font);
  /* border: 1px blue solid; */
  text-align: center;
  color: var(--background-color);
  background-color: black;
  padding: 10px;
  border-radius: 6px;
  opacity: 60%;
  width: fit-content;
  margin: 5px auto;
}

.overlay-button {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  color: var(--background-color);
  border: none;
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
  padding: 5px;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container-slider {
    height: 350px;
  }
}

@media only screen and (min-width: 1232px) {
  .container-slider {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 100px;
    height: 450px;
    max-width: 990px;
  }

  .btn-slide {
    width: 30px;
    height: 30px;
  }
  .btn-slide img {
    width: 15px;
    height: 15px;
  }
}
